resource "vault_auth_backend" "userpass" {
  type = "userpass"
}

resource "vault_generic_endpoint" "replace_with_username" {
  depends_on           = [vault_auth_backend.userpass]
  path                 = "auth/userpass/users/replace_with_username"
  ignore_absent_fields = true

  data_json = <<EOT
{
  "policies": ["admins", "users"],
  "password": "changeme"
}
EOT
}
